


%h1 Pablo Vivanco
%p.lead @uxpablo is an internationally software designer and usability specialist. His contribution is to design digital products based in contexts that allows users and businesses to achieve their goals.
.row
  .col-md-3.col-lg-3.text-center
    = link_to(image_tag("uxpablo.jpg", :alt => "Pablo Vivanco", :width => 134, :height => 158, :title => ""))

  .col-md-9.col-lg-9
    %p He is currently Product Manager for price intelligence software designed for the aeronautics industry. Pablo's experience places him as a professional working with companies from the world of technology and innovation, leading the design of usable products, thought of the needs of people and companies. He was part of the Product and User Experience team at Prey Project; In addition to having worked in the web of the outstanding national sportswoman Natalia Ducó and in the platform Juus.to, where she was responsible for the creation and integration of a safe and simple system so that the users could obtain credits of the easiest and safest way .

    %p @uxpablo complete resume and recomendations are available on Linkedin

  = render 'layouts/footer'
