

.row.pt1
  .col-lg-12.col-md-12.col-sm-12
    %h1 Pablo Vivanco
    %p.lead
      International software designer and usability specialist.
      %br
      His contribution on the digital industry is to design products based in
      contexts that allows users and businesses to achieve their goals.


.row
  .col-xs-12.col-sm-3.col-md-3.col-lg-3.text-center
    .row
      .col-xs-5.col-sm-12.col-md-12.col-lg-12.text-center
        = link_to(image_tag("uxpablo.jpg", :alt => "Pablo Vivanco", :width => 134, :height => 158, :title => "", :class=>"img-responsive"))
      .col-xs-7.col-sm-12.col-md-12.col-lg-12
        %p.pt1
          %a.btn.btn-link.btn-block{:href => "https://www.linkedin.com/in/uxpablo/", :role => "button", :target=>"blank", :title=>"Linkedin Profile"}
            %i.fa.fa-linkedin-square
            Linkedin
          %a.btn.btn-link.btn-block{:href => "https://github.com/uxpablo", :role => "button", :target=>"blank", :title=>"Code projects / collaborations"}
            %i.fa.fa-github-square
            Github
          %a.btn.btn-link.btn-block{:href => "https://twitter.com/uxpablo", :role => "button", :target=>"blank", :title=>"My twets"}
            %i.fa.fa-twitter
            Twitter
  .col-xs-12.col-sm-9.col-md-9.col-lg-9.text-left
    %p
      He is currently a Head of UX at
      %a.btn.btn-link.btn-no-padding{:href => "http://www.airnguru.com/", :role => "button", :target=>"blank", :title=>"Improve the position competitive of airlines"} Airnguru
      software for aeronautic industry.
      Pablo's experience places him as a professional participating inside of technological and innovative companies
      , working to get usable and beautiful products through
      understand contexts and real needs of people / companies. He was part of the
      User Experience design team at
      %a.btn.btn-link.btn-no-padding{:href => "https://www.preyproject.com/", :role => "button", :target=>"blank", :title=>"Anti theft protection software"} Prey Project,
      he worked to in
      %a.btn.btn-link.btn-no-padding{:href => "http://www.soho.cl/", :role => "button", :target=>"blank", :title=>""} Soho chile
      with the product team for Isapre Colmena, a web mobile project. He worked in the web and branding for one of the
      outstanding national sports woman
      %a.btn.btn-link.btn-no-padding{:href => "http://nataliaduco.com/", :role => "button", :target=>"blank"} Natalia Duco
      and in the startup
      %a.btn.btn-link.btn-no-padding{:href => "http://www.juus.to/", :role => "button", :target=>"blank"} Juus.to,
      where he was responsible to the create a virtual user experience for people can get offers in one click from many banks on Chile.
      %br
      He was entrepreneur at dandoo.tv [Startup out of Air in 2014], where people watch
      advertising answer questions and earn telephonic conectivity.

    %p
      In his expertise he works with methodologies such as user-centered design
      and agile software development such as Scrum and Kanban.
      Always focused on achieving the objectives, developing a job on time,
      clean and focused on making constant increases to deliver value.

    %p
      @uxpablo complete resume and recomendations on
      %a.btn.btn-link.btn-no-padding{:href => "https://www.linkedin.com/in/uxpablo/", :role => "button", :target=>"blank"} Linkedin


= render 'layouts/footer'
