

.row.pt1
  .col-lg-12.col-md-12.col-sm-12
    %h1 Pablo Vivanco
    %p.lead
      An internationally
      %strong software designer and usability specialist.
      %br
      His contribution is to design digital products based in contexts that
      allows users and businesses to achieve their goals.


.row.pt1
  .col-xs-12.col-sm-2.col-md-3.col-lg-3.text-center
    .row
      .col-xs-3.col-sm-12.col-md-12.col-lg-12.text-left
        = link_to(image_tag("uxpablo.jpg", :alt => "Pablo Vivanco", :width => 134, :height => 158, :title => ""))
      .col-xs-9.col-sm-12.col-md-12.col-lg-12
        %p.pt1
          %a.btn.btn-link.btn-block{:href => "https://www.linkedin.com/in/uxpablo/", :role => "button", :target=>"blank", :title=>"Linkedin Profile"}
            %i.fa.fa-linkedin-square
            Linkedin
          %a.btn.btn-link.btn-block{:href => "https://github.com/uxpablo", :role => "button", :target=>"blank", :title=>"Code projects / collaborations"}
            %i.fa.fa-github-square
            Github
          %a.btn.btn-link.btn-block{:href => "https://twitter.com/uxpablo", :role => "button", :target=>"blank", :title=>"My twets"}
            %i.fa.fa-twitter
            Twitter
  .col-xs-12.col-sm-10.col-md-9.col-lg-9.text-left
    %p
      He is currently Head of UX at
      %a.btn.btn-link.btn-no-padding{:href => "http://www.airnguru.com/", :role => "button", :target=>"blank", :title=>"Improve the position competitive of airlines"} Airnguru
      a software for aeronautics industry.
      Pablo's experience places him as a professional working with companies
      from the world of technology and innovation, leading the design of usable
      products, thought of the needs of people and companies. He was part of
      the Product and User Experience team at
      %a.btn.btn-link.btn-no-padding{:href => "https://www.preyproject.com/", :role => "button", :target=>"blank", :title=>"Anti theft protection software"} Prey Project;
      In addition to having worked in the web of the outstanding national sportswoman
      %a.btn.btn-link.btn-no-padding{:href => "http://nataliaduco.com/", :role => "button", :target=>"blank"} Natalia Ducó
      and in the platform
      %a.btn.btn-link.btn-no-padding{:href => "http://www.juus.to/", :role => "button", :target=>"blank"} Juus.to,
      where he was responsible for the creation and integration of a safe and
      simple system so that the users could obtain credits of the easiest and safest way.

    %p
      Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet
      non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus.
    %p
      @uxpablo complete resume and recomendations on
      %a.btn.btn-link.btn-no-padding{:href => "https://www.linkedin.com/in/uxpablo/", :role => "button", :target=>"blank"} Linkedin


= render 'layouts/footer'
