

.row.pt1
  .col-lg-12.col-md-12.col-sm-12
    %h1 Skills and methodologies
    %p.lead
      In his expertise he works with methodologies such as Human Dentered Design,
      Agile UX Design and Agile Software Development as Scrum and Kanban. Always
      focused on achiev objectives, developing a job on time, clean and focused
      on deliver value.

.row
  .col-lg-12.col-md-12.col-sm-12
    %h3 Main functions
    %ul
      %li
        Work with users in the real context to understand gaps and oportunities
      %li
        Work with multidisciplinary team from areas like business, engineers
      %li
        Translate complex product requirements into easy and intuitive user flows
      %li
        Document in wireframes, storyboards, user flows, process flows and site maps to
        effectively communicate interaction and design ideas
      %li
        Implement user experience design
      %li
        Data-driven approach to influence on visual and interaction design decisions
      %li
        Brand design

.row
  .col-lg-12.col-md-12.col-sm-12
    %h3 Skills

    %h5.strong Methods

    %span Lean UX
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}

    %span Scrum
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}

    %span Design Thinking
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}

    %br
    %h5.strong User experience design

    %span Usability
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}

    %span Usability test
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}

    %span Prototype (Balsamiq wireframes)
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}

    %span Information Architecture (IA)
    .progress
      .progress-bar.progress{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 60%;"}

    %span Costumer Analytics
    .progress
      .progress-bar.progress{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 80%;"}


    %br
    %h5.strong User interface design

    %span Sketch app
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}

    %span Android patterns and UI workflow
    .progress
      .progress-bar.progress{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 80%;"}

    %span iOS patterns and UI workflow
    .progress
      .progress-bar.progress{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 80%;"}

    %span Web form design
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}


    %span Photoshop
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}



    %br
    %h5.strong Development

    %span Git, distributed version control system
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}

    %span Ruby on Rails
    .progress
      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 50%;"}

    %span HTML , HAML, CSS, SASS
    .progress
      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 100%;"}

    %span Jquery
    .progress
      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 70%;"}

    %span Virtual box / Vagrant
    .progress
      .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 30%;"}
