

.row.pt1
  .col-lg-12.col-md-12.col-sm-12
    %h1 Skills and methodologies
    %p.lead
      In his expertise he works with methodologies such as user-centered design and
      agile software development such as Scrum and Kanban. Always focused on achiev
      objectives, developing a job on time, clean and focused on deliver value.

.row
  .col-lg-12.col-md-12.col-sm-12
    %h3 Main functions
    %ul
      %li
        Work with users in the real context to understand gaps ans oportunities for product
      %li
        Work with multidisciplinary team from areas like business, engineers
      %li
        Translate complex product requirements into easy and intuitive user flows
      %li
        Document in wireframes, storyboards, user flows, process flows and site maps to
        effectively communicate interaction and design ideas
      %li
        Implement user experience design
      %li
        Data-driven approach to influence on visual and interaction design decisions
      %li
        Brand design
