%h1 UX Design
%h3
  %span.label.label-default Research
%h3
  %span.label.label-default Information architecture
%h3
  %span.label.label-default Interaction desing
%h3
  %span.label.label-default User test

%h1 UI Design
%h3
  %span.label.label-default Information design
%h3
  %span.label.label-default Interface desing
%h3
  %span.label.label-default Navigation design

%h1 Front end + Development
%h3
  %span.label.label-default Ruby on Rails framework
%h3
  %span.label.label-default Html, Haml, css, Jquery
%h3
  %span.label.label-default Git version control system
