/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*{
  font-family: Verdana,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.8;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

p , .lead{
  color: #334655;
  text-rendering: optimizeLegibility;
}

.btn-no-padding{
  padding: 0px;
}

footer{
  color: #808180;
}

.pt1{
  padding-top: 10px;
}
.main_nav {
  border-bottom: 1px solid #eaeaea;
}

.main_nav a{
  font-family: 'Helvetica Neue Condensed','Helvetica','Arial',sans-serif;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 1.065rem;
  border-bottom: 0 solid #c00;
}
