

%ul.nav.nav-pills
  %li.active{:role => "presentation"}
    %a{:href => "#"} About
  %li{:role => "presentation"}
    %a{:href => "#"} Method
  %li{:role => "presentation"}
    %a{:href => "#"} Projects
  %li{:role => "presentation"}
    %a{:href => "#"} Contact
