
.row.main_nav
  %br
  %a.btn.btn-link{:href => "/" , :type => "button"} ABOUT
  %a.btn.btn-link{:href => "/pages/method" , :type => "button"} SKILLS
  %a.btn.btn-link{:href => "/pages/project" , :type => "button"} WORKS
