
.row
  %br
  %button.btn.btn-link{:type => "button"} About
  %button.btn.btn-link.disabled{:type => "button"} Skills
  %button.btn.btn-link.disabled{:type => "button"} Experience
  %button.btn.btn-link.disabled{:type => "button"} Contact
